@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

.hangman-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.hangman-svg {
  margin-bottom: 15px;
}

.hangman-part {
  animation: draw 0.5s ease-in-out;
}

@keyframes draw {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.hangman-status {
  font-size: 1rem;
  color: #F9F4DA;
  text-align: center;
}