@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}

header h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 1rem;
    max-width: 350px;
    color: #8E8E8E;
}

section.game-status {
    text-align: center;
    border-radius: 4px;
    margin-block: 30px;
    width: 100%;
    max-width: 350px;
}

section.game-status.won {
    background: #10A95B;
}

section.game-status.lost {
    background: #BA2A2A;
}

section.game-status > h2 {
    font-size: 1.75rem;
    margin: 5px;
    color: #F9F4DA;
}

section.game-status > p {
    font-size: 1rem;
    margin: 5px;
}


.hangman-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.hangman-svg {
  margin-bottom: 15px;
}

.hangman-part {
  animation: draw 0.5s ease-in-out;
}

@keyframes draw {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
}

.hangman-status {
  font-size: 1rem;
  color: #F9F4DA;
  text-align: center;
}

section.word{
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 20px;
}

section.word > span{
    width: 40px;
    height: 40px;
    background: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #F9F4DA;
}

section.word > span.missed-letter{
    color: #EC5D49;
}

section.keyboard{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 450px;
    margin-bottom: 36px;
}

section.keyboard > button{
    width: 35px;
    height: 35px;
    background: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    cursor: pointer;
}

section.keyboard > button.correct {
    background-color: #10A95B;
}

section.keyboard > button.wrong {
    background-color: #EC5D49;
}

section.keyboard > button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}